In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel(r"tesa_unclean.xlsx")

In [3]:
df = data.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14000 entries, 0 to 13999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             14000 non-null  int64
 1   loc            12187 non-null  object
 2   title          12278 non-null  object
 3   bedrom         12201 non-null  float64
 4   bathroom       12195 non-null  float64
 5   parking_space  12189 non-null  float64
 6   price          14000 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 765.8+ KB

In [4]:
df["loc"].value_counts()

loc
Kadna          370
Anambra        363
Benue          355
Yobe           353
Kano           351
Borno          351
Nasarawa       349
Cross River    349
Imo            348
Zamfara        348
Ebonyi         346
Kebbi          346
Katsina        345
Ogun           345
Ondo           344
Gombe          343
Bauchi         342
Oyo            341
Adamawa        341
Bayelsa        340
Plateau        338
Osun           338
Jigawa         337
Ekiti          336
Kwara          333
Niger          330
Akwa Ibom      329
Lagos          328
Sokoto         326
Delta          325
Enugu          324
Rivers         323
Kogi           321
Taraba         315
Abia           312
Edo            302
Name: count, dtype: int64

In [5]:
df.isnull().sum()

ID                  0
loc              1813
title            1722
bedrom           1799
bathroom         1805
parking_space    1811
price               0
dtype: int64

In [ ]:
df["bedrom"] = df["bedrom"].fillna(df["bedrom"].median())
df["bathrom"] = df["bathrom"].fillna(df["bathrom"].median())
df["parkinng_space"] = df["parking_space"].fillna(df["parking_space"].median())

In [7]:
df["loc"].value_counts().shape

(36,)

In [8]:
data = df.dropna()
data.isnull().sum()

ID               0
loc              0
title            0
bedrom           0
bathroom         0
parking_space    0
price            0
dtype: int64

In [9]:
data.duplicated().sum()

np.int64(0)