### INDEXING AND SLICING

* [position of first value : number of characters + position of first value]
* [position of first value : 1 + position of last value]

In [1]:
name = "Emmanuel"

In [3]:
name[0:4]
#0+(3+1) using index counting

'Emma'

In [4]:
name[2:5]

'man'

## DATA STRUCTURES

### LISTS
* The items in a list are enclosed in a square bracket
* The items can also be of different datatypes
* A list is ordered
* A list is mutable (you can change the contents)
* Each data element in a list should be separated by a comma

In [5]:
my_list = [1, 3, 'Annie', 5.0]
my_list

[1, 3, 'Annie', 5.0]

In [6]:
my_list2 = [9, 4, 5.3, 1]
my_list2

[9, 4, 5.3, 1]

In [7]:
my_list2[2]

5.3

In [8]:
my_list[0:3]

[1, 3, 'Annie']

In [14]:
my_list2[2] = 5.3
my_list2

[9, 4, 5.3, 1]

In [15]:
my_list2[-1] = 298 #-1 is the last value in your list
my_list2

[9, 4, 5.3, 298]

In [16]:
my_list2[1:4]

[4, 5.3, 298]

In [17]:
my_list2[1:4] = 6, 4, 87
my_list2

[9, 6, 4, 87]

### TUPLES
* The items in a tuple are enclosed in a paretheses
* The items can also be of different datatypes
* A tuple is ordered
* A tuple is immutable (you cannot change the contents)
* Each data element in a tuple should be separated by a comma

In [2]:
my_tup = (1, 'Aboderin Jimi', 3.2, 'Victory', True, 5)

In [3]:
my_tup

(1, 'Aboderin Jimi', 3.2, 'Victory', True, 5)

In [4]:
type(my_tup)

tuple

In [6]:
my_tup[1] = 'Assign name'

TypeError: 'tuple' object does not support item assignment

In [8]:
tup2 = my_tup[1:4]
tup2

('Aboderin Jimi', 3.2, 'Victory')

In [9]:
type(tup2)

tuple

In [10]:
z = 1, 2, 3, 4, 5, 6
type(z)

tuple

### SETS
* The items in a set are enclosed in a curly bracket
* The items can also be of different datatypes
* A set is unordered
* A set is immutable (you cannot change the contents) and cannot be indexed
* Each data element in a set should be separated by a comma
* A set cannot be duplicated

In [21]:
my_set = {1, 9, 5, 'Blessing', 3, 5, 23, 56}
my_set
#presence of a string turns everything to a string
#looking at the first "number"

{1, 23, 3, 5, 56, 9, 'Blessing'}

In [16]:
my_set[2]

TypeError: 'set' object is not subscriptable

In [19]:
len(my_set)

7

In [23]:
my_set2 = {1, 9, 5, 3, 5, 23, 56}
my_set2
#sorts like normal numbers without the presence of a string

{1, 3, 5, 9, 23, 56}

In [27]:
my_set3 = {1, 3, 2, 5, 8, 4, True}
#Boolean True = 1 and False = 0
my_set3

{1, 2, 3, 4, 5, 8}

In [28]:
my_set4 = {3, 2, 5, 8, 4, True}
my_set4

{True, 2, 3, 4, 5, 8}

In [29]:
my_set4 = {1, 3, 2, 5, 8, 4, False}
my_set4

{False, 1, 2, 3, 4, 5, 8}