In [2]:
1j*1j

(-1+0j)

In [4]:
type(8//3)

int

In [8]:
print("amaka" > "Amara")

True

* Dictionary - {"name": "Kamara", "age": 89}
* Set - {1, 2, 3, 4}

In [14]:
[1, 1, 5, 6 , 7, 3]
#list

[1, 1, 5, 6, 7, 3]

In [13]:
{1, 1, 5, 6, 7, 3}
#set

{1, 3, 5, 6, 7}

In [17]:
(1, 1, 5, 6, 7, 3)
#tuple

(1, 1, 5, 6, 7, 3)

In [18]:
print("Tega is hungry")

Tega is hungry

## TYPE CONVERSION
* int to float
* float to int
* int to str
* str(int) to int

In [19]:
"1"

'1'

In [20]:
type("1")

str

In [21]:
number = "567"

In [23]:
type(number)

str

In [25]:
number = int(number)

In [26]:
type(number)

int

## INPUT AND OUTPUT

In [27]:
print("Hello World"), print(2)

Hello World
2

(None, None)

#### To call a variable in the print function
* Comma
* Concatenation
* F-string
* str.format()

In [31]:
name = "Arogundade"

In [32]:
print(name, "is a student of TeSA cohort 4")
#Comma

Arogundade is a student of TeSA cohort 4

In [33]:
print(name + " is a student of TeSA cohort 4")
#Concatenation

Arogundade is a student of TeSA cohort 4

In [34]:
print(f"{name} is a student of TeSA cohort 4, and {name} is a smart student")
#F-string

Arogundade is a student of TeSA cohort 4

In [36]:
print("{} is a student of TeSA cohort 4, and {} is a smart student".format(name, name))
#str.format()

Arogundade is a student of TeSA cohort 4, and Arogundade is a smart student

In [37]:
name1 = input("What is your name? ")
score = input("Enter your TeSA technical score: ")
print("The technical score for ", name1, " is ", score)
#anything returned is a string

What is your name?  Kamara
Enter your TeSA technical score:  5.0

The technical score for  Kamara  is  5.0

In [38]:
name1 = str(input("What is your name? "))
score = float(input("Enter your TeSA technical score: "))
print("The technical score for ", name1, " is ", score)
#int will be converted to float

What is your name?  Covenant
Enter your TeSA technical score:  5

The technical score for  Covenant  is  5.0

### ORDER OF PRECEDENCE
* P
* E
* M
* D
* A
* S